@import 'variables';

.manage-products {
  padding: 20px;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  button {
    margin-top: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 5px 0;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background-color: $light-bg;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin-left: 10px;
      }
    }
  }
}

.manage-product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: $border-radius;
  }
}